@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Averta';
  src: url('/fonts/Averta.woff2');
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.woff2');
}

@font-face {
  font-family: 'WorldWise';
  src: url('/fonts/WorldwiseSans-Heavy.woff2');
}

:root{
  --color-accent: #ecefeb;
  --color-black: #0e0f0c;
  --color-lime: #9fe870;
  --color-lime-accent: #80e142;
  --color-lime-dark: #163300;
  --wise-sans: 'WorldWise','Inter','Averta', sans-serif;
}

*{
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

h1,h2,h3{
  font-family: var(--wise-sans);
}